body{
    background-color:rgb(40, 36, 36);
    text-emphasis: center;
flex-wrap: wrap;
text-align:center;
}
img{
    width: 58px;
    border-radius: 50%;
    /* height: auto; */
    align-self: center;
}
.container{
    color:white;
    text-align: center;
}
.container2{
    color: rgb(196, 173, 47);
    text-align: center;
}
.list1{
    background-color:rgb(36, 36, 36);
    border: none;
    color: rgb(36, 36, 36);
    padding:5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    width: 90%;
}
.list1:hover{
    background-color: gold;
    transition: ease  0.5s;
}
.list2{
    background-color:rgb(36, 36, 36);
    border: none;
    color: rgb(36, 36, 36);
    padding:5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    width: 90%;
}
.list2:hover{
    background-color: gold;
    transition: ease  0.5s;
}
.list3{
    background-color:rgb(36, 36, 36);
    border: none;
    color: rgb(36, 36, 36);
    padding:5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    width: 90%;

}
.list3:hover{
    background-color: gold;
    transition: ease  0.5s;
}
.list4{
    background-color:rgb(36, 36, 36);
    border: none;
    color: rgb(36, 36, 36);
    padding:5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    width: 90%;

}
.list4:hover{
    background-color: gold;
    transition: ease  0.5s;
}
.box{
    width: 300px;
    height: 500px;
    border: 1px solid black;
    padding: 10px;
    margin:10px;
    align-items: center;
     background-color: rgb(6, 5, 5);
     display: block;
    object-fit: cover;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="body"] {
      width: 100%;
      /* margin-top: 20px; */
    }
  }


